
<!-- FORM -->

<div class="container">
  <form class="well form-horizontal" action=" " method="post" id="contact_form">
    <fieldset>
      <!-- Form Name -->
      <legend>Create PercentageDiscount</legend>

      <!-- Name-->
      <div class="form-group">
        <label class="col-md-4 control-label">Name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"
              ><i class="glyphicon glyphicon-user"></i
            ></span>
            <input
              name="first_name"
              placeholder="Name"
              class="form-control"
              type="text"
              [(ngModel)]="name"
            />
          </div>
        </div>
      </div>
      <!-- Number input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Minimum products needed for discount to be applied</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"
              ><i class="glyphicon glyphicon-envelope"></i
            ></span>
            <input
              name="password"
              placeholder="{{1}}"
              class="form-control"
              type="number"
              [(ngModel)]="minProductsNeededForDiscount"
            />
          </div>
        </div>
      </div>
            <!-- Number input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Percentage discounted</label>
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="glyphicon glyphicon-envelope"></i
                  ></span>
                  <input
                    name="password"
                    placeholder="{{0}}"
                    class="form-control"
                    type="number"
                    [(ngModel)]="percentageDiscounted"
                  />
                </div>
              </div>
            </div>

      <!-- Product to be discounted Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label">Product to be Discounted</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"
              ><i class="glyphicon glyphicon-list"></i
            ></span>
            <select name="roles" class="form-select" [(ngModel)]="productToBeDiscounted">
              <option value=" " disabled>Please select what product will be discounted</option>
              <option value="MaxValue">Maximum value</option>
              <option value="MinValue">Minimum value</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button
            type="submit"
            class="btn btn-warning"
            (click)="onFormSubmit()"
          >
            Send <span class="glyphicon glyphicon-send"></span>
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<!-- /.container -->
